{% extends 'base.html' %}
{% block body %}
<table class="table table-bordered;table table-hover" style="margin-top: 10px">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Service Status</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in service_status_dict.items %}
            <tr>
                <td>
                    <div> {{ key }}</div>
                </td>
                <td>
                    <div>{{ value }}</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}