{% extends "layout.html" %}
{% block content %}
    <section class="content-header">
        <h1>{{ service_name }}
            <small>日志类型:<span style="color: red">{{ log_type }}</span></small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">历史日志</li>
        </ol>
    </section>
        {#控制台头部结束#}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
        <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Path</th>
                                    <th>File Time</th>
                                    <th>Download File</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for i in all_file %}
                                    <tr>
                                        <td>{{ i.0 }}</td>
                                        <td>{{ i.1 }}</td>
                                        <td>{{ i.2 }}</td>
                                        <td><a  class="btn btn-primary btn-xs" href='/log/download/?log_name={{ i.0 }}&log_path={{ i.1 }}'>下载</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        <!-- /.box-body -->
                    </div>
      <!-- /.box -->
                </div>
    <!-- /.col -->
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <!-- example表格初始化 -->
    <script src="/static/js/datatablesstyle.js"></script>
    <script>
      $(function () {
        $('#example').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : false,
          'autoWidth'   : true
        })
      })
    </script>
{% endblock %}