{% extends 'base.html' %}

{% block extra-head-resources %}
<script type="text/javascript" src="/static/js/id_numb.js"></script>
{% endblock %}

{% block body %}
<table class="table table-bordered;table table-hover" style="margin-top: 10px">
    <thead>
        <tr>
            <th>Ordinal number</th>
            <th>Server Name</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        {% for i in service_now %}
                <tr>
                    <td>id</td>
                    <td>{{ i }}</td>
                    <td><a href="/log/dir/page/?service_name={{ i }}&log_type=info" class="btn btn-primary btn-xs build" >info</a>
                    <a href="/log/dir/page/?service_name={{ i }}&log_type=error" class="btn btn-danger btn-xs build">error</a>
                    <a href="/log/dir/page/?service_name={{ i }}&log_type=update" class="btn btn-info btn-xs build">update</a></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}