{% extends "layout.html" %}
{% block content %}
    <section class="content-header">
        <h1>{{ container_name }}
            <small>
                主机名称:<span style="color: red;font-weight: bold">{{ hostname }}</span>,
                日志类型:<span style="color: red;font-weight: bold">{{ log_type }}</span>
                <a href="/log/dump/?container_name={{ container_name }}&hostname={{ hostname }}&log_type={{ log_type }}" type="button" class="btn btn-primary btn-xs" id="Downloadlog">下载日志</a>
                <button type="button" class="btn btn-primary btn-xs" id="closewebsocket">连接断开</button>
                <span id='linking' >连接中</span>
            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">docker仪表盘</li>
            <li class="active">{{ container_name }}</li>
        </ol>
    </section>
        {#控制台头部结束#}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
        <!-- /.box-header -->
                    <div class="box-body">
                        <textarea id='message' disabled="disabled" style="height: 600px;width: 100%;border-style: solid;border-color: white;resize: none">{{ logs }}</textarea>
{#                        {{ logs }}#}
        <!-- /.box-body -->
                    </div>
      <!-- /.box -->
                </div>
    <!-- /.col -->
            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            var log_type = '{{ log_type }}';
            var hostname = '{{ hostname }}';
            var container_name = '{{ container_name }}';
            var socket;
            if (log_type == "log_info") {
                socket = new WebSocket("ws://" + window.location.host + "/log/log_socket/");
                socket.onopen = function () {
                    var log_info = '{\'hostname\':\'' + hostname + '\',' + '\'container_name\':' + '\'' + container_name + '\'' + '}';
                    console.log('WebSocket open');//成功连接上Websocket
                    $('#linking').text('连接成功');
                    socket.send(log_info);//发送数据到服务端
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印服务端返回的数据
                    var ele = document.getElementById("message");
                    ele.value = ele.value + e.data;
                    ele.scrollTop = ele.scrollHeight;
                };
                socket.onclose = function () {
                    $('#linking').text('连接关闭');
                };
            }else {
                document.getElementById('closewebsocket').style.display = 'none';
                document.getElementById('linking').style.display = 'none';
            }
            $('#closewebsocket').click(function () {
                socket.onclose();
                socket.close();
            });
        });
    </script>
{% endblock %}