{% extends "layout.html" %}
{% block content %}
    <section class="content-header">
        <h1>脚本执行</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">脚本</li>
        </ol>
    </section>
        {#控制台头部结束#}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
        <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ordinal Number</th>
                                    <th>Script Name</th>
                                    <th>Script Methods</th>
                                    <th>Service Name</th>
                                    <th>Server Name</th>
                                    <th>Script Parameter</th>
                                    <th>Last Execution</th>
                                    <th>Script Slot</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for i in ScriptAllDictionary %}
                                    <tr>
                                        <td class="script_id">{{ i.id }}</td>
                                        <td>{{ i.script_name }}</td>
                                        <td>{{ i.script_methods }}</td>
                                        <td>{{ i.service_name }}</td>
                                        <td class="server_name">{{ i.server_name }}</td>
                                        <td class="script_parameter">
                                            <select class="select_all">
                                                {% for parameter in i.parameter %}
                                                    <option value="{{ parameter }}">{{ parameter }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class="last_execution">{{ i.last_execution }}</td>
                                        <td><a  class="btn btn-primary btn-xs build"  role="button" >执行</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        <!-- /.box-body -->
                    </div>
      <!-- /.box -->
                </div>
    <!-- /.col -->
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <!-- example表格初始化 -->
    <script src="/static/js/datatablesstyle.js"></script>
    <script>
      $(function () {
        $('#example').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : false,
          'ordering'    : true,
          'info'        : false,
          'autoWidth'   : true
        })
      })
    </script>
    <script>
    $(function(){
      $("#example").on('click','.build',function () {
        var script_id = $(this).parent().siblings(".script_id").text();
        var script_parameter = $(this).parent().siblings(".script_parameter").children("select").val();
        window.location.href='/script/execution/?script_id='+script_id+'&script_parameter='+ script_parameter;
      })
    })
    </script>
{% endblock %}
