{% extends "layout.html" %}
{% block content %}
    <section class="content-header">
        <h1>测试管理</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">测试</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-7 connectedSortable" style="width: 100%;">
              <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <span>RunIter:</span>
                        <input type="text" id="find_runiter" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');">
                        <a class="btn btn-primary btn-xs" id="find" role="button" >查找</a>
                        <a class="btn btn-primary btn-xs" id="down" role="button" >下载</a>
                        <li class="active"><a href="#revenue-chart" data-toggle="tab">全部</a></li>
                        <li ><a href="#sales-chart" data-toggle="tab">错误</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                      <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="revenue-chart" >
                            <div class="box no-margin box-solid">
                                <div class="box-header" style="padding: 6px">
                                </div>
                                <div class="box-body" style="padding: 0">
                                    <table id="example" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Method</th>
                                                <th>Url</th>
                                                <th>Result</th>
                                                <th>comments</th>
                                                <th>RunIter</th>
                                                <th>Script Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in test_data_all %}
                                               <tr>
                                                   <td class="apitest_id" >{{ i.id }}</td>
                                                   <td>{{ i.method }}</td>
                                                   <td>{{ i.url }}</td>
                                                   <td>{{ i.result }}</td>
                                                   <td>{{ i.comments }}</td>
                                                   <td>{{ i.runIter }}</td>
                                                   <td><a class="btn btn-primary btn-xs build"  role="button" >详情</a></td>
                                               </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                        <!-- /.box-body -->
                                </div>
                              <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="chart tab-pane" id="sales-chart" >
                            <div class="box no-margin box-solid">
                                <div class="box-header" style="padding: 6px">
                                </div>
                                <div class="box-body" style="padding: 0">
                                    <table id="example1" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Method</th>
                                                <th>Url</th>
                                                <th>Result</th>
                                                <th>comments</th>
                                                <th>RunIter</th>
                                                <th>Script Slot</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in fail_test_data_all %}
                                               <tr>
                                                   <td class="apitest_id" >{{ i.id }}</td>
                                                   <td>{{ i.method }}</td>
                                                   <td>{{ i.url }}</td>
                                                   <td>{{ i.result }}</td>
                                                   <td>{{ i.comments }}</td>
                                                   <td>{{ i.runIter }}</td>
                                                   <td><a class="btn btn-primary btn-xs build"  role="button" >详情</a></td>
                                               </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
{% block js %}
    <!-- example表格初始化 -->
    <script src="/static/js/datatablesstyle.js"></script>
    <script>
      $(function () {
        $('#example').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : false,
          'autoWidth'   : true
        })
      });
      $(function () {
        $('#example1').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : false,
          'autoWidth'   : true
        })
      })
    </script>
    <script>
    $(function(){
        $("#example").on('click','.build',function () {
            var apitest_id = $(this).parent().siblings(".apitest_id").text();
            window.location.href='details/?apitest_id='+apitest_id;
        })
    });
    $(function(){
        $("#example1").on('click','.build',function () {
            var apitest_id = $(this).parent().siblings(".apitest_id").text();
            window.location.href='details/?apitest_id='+apitest_id;
        })
    });
    $(function(){
        $("#find").on('click',function () {
            var find_runiter = $("#find_runiter").val();
            console.log(find_runiter);
            if(find_runiter.length == 14)
                {
                    window.location.href='/apitest/?runiter='+find_runiter;
                }
            else
                {
                alert("请输入正确RunIter号码")
                }
        })
    });
    $(function(){
        $("#down").on('click',function () {
            var find_runiter = $("#find_runiter").val();
            console.log(find_runiter);
            if(find_runiter.length == 14)
                {
                    window.location.href='/apitest/down/?runiter='+find_runiter;
                }
            else
                {
                alert("请输入正确RunIter号码")
                }
        })
    })
    </script>
{% endblock %}
