{% extends 'base.html' %}
{% block extra-head-resources %}
<script type="text/javascript" src="/static/js/id_numb.js"></script>
{% endblock %}
{% block body %}
<table class="table table-bordered;table table-hover" style="margin-top: 10px">
    <thead>
        <tr>
            <th>Ordinal Number</th>
            <th>Host Name<a href="/dashboard/?type=hostname">&uarr;️</a></th>
            <th>Container Name<a href="/dashboard/?type=name">&uarr;️</a></th>
            <th>Image Name<a href="/dashboard/?type=image">&uarr;️</a></th>
            <th>Short Id</th>
            <th>Status</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        {% for i in DockerContainerAll %}
            <tr>
                <td>id</td>
                <td>{{ i.hostname }}</td>
{#                <td style="word-break:break-all; width:200px; overflow:auto;">dnfjhkdhuisfduifkjsdfkjhsdfkjhkjsdhfhkjsdfkjhsdfkjhsdfkjhsdkfjhsdkfjhskdfhjksdjhfkshjksfj</td>#}
                <td >{{ i.name }}</td>
{#                    <td><a href="/log/now/?hostname={{ hostname }}&container_name={{ i.name }}">{{ i.name }}</a></td>#}
                <td>{{ i.image }}</td>
                <td>{{ i.short_id}}</td>
                {% if i.status == 'running' %}
                    <td style="padding: 1px"><span class="btn btn-success" style="cursor:default;border-radius:50px;width: 75px">{{ i.status }}</span></td>
                {% elif i.status == 'exited'%}
                    <td style="padding: 1px"><span class="btn btn-warning" style="cursor:default;border-radius:50px;width: 75px">{{ i.status }}</span></td>
                {% else %}
                    <td>{{ i.status }}</td>
                {% endif %}
                <td><a href="/log/now/?hostname={{ i.hostname }}&container_name={{ i.name }}&log_type=log_info" class="btn btn-primary btn-xs build" >info</a>
                    <a href="/log/now/?hostname={{ i.hostname }}&container_name={{ i.name }}&log_type=log_error" class="btn btn-danger btn-xs build">error</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}