<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>clx自动化运维平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <script type="text/JavaScript" src="/static/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="/static/js/bootstrap.min.js"></script>
    {% block extra-head-resources %}{% endblock %}

</head>

<body>
<div id="loading"  style="display:none">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<nav style="margin-bottom: auto" class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'dashboard' %}">clx运维后台系统</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}<span class="caret"></span></a>
                    <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                        <li><a href="/log/dump/?all_log=all_log">日志备份</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="padding: 0;position: absolute;float:left;height:90%;border-right:1px solid #e5e5e5;">
            <ul class="nav">
                <li>
                    <a style="border-bottom:1px solid #e5e5e5;color: black" href="{% url 'dashboard' %}"><img src="/static/image/dashboard.png" height="20" width="20">&nbsp;&nbsp;&nbsp;docker仪表盘</a>
                </li>
                <li>
                    <a style="border-bottom:1px solid #e5e5e5;color: black" href="{% url 'computer' %}"><img src="/static/image/computer.png" height="20" width="20">&nbsp;&nbsp;&nbsp;主机列表</a>
                </li>
                <li>
                    <a style="border-bottom:1px solid #e5e5e5;color: black" href="{% url 'script' %}"><img src="/static/image/script.png" height="20" width="20">&nbsp;&nbsp;&nbsp;脚本</a>
                </li>
                <li>
                    <a style="border-bottom:1px solid #e5e5e5;color: black" href="{% url 'logdir' %}"><img src="/static/image/log.png" height="20" width="20">&nbsp;&nbsp;&nbsp;历史日志</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="background: white;position: absolute;right:0;height: 82%;overflow-y:auto">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
{% block bottom-js %}{% endblock %}
</body>