<!doctype html>
<html>
<head>
    <title>欢迎登录-{{ SITE_NAME }}运维平台</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="http://staticwos.mayi.com/pub/css/login.css"/>
    <script type="text/javascript" src="http://staticwos.mayi.com/pub/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="login">
    <div class="message">{{ SITE_NAME }}运维平台-登录</div>
    {% csrf_token %}
    <div id="darkbannerwrap"></div>
    <input name="action" value="login" type="hidden">
    <input placeholder="用户名" required="" type="text" id="user">
    <hr class="hr15">
    <input placeholder="密码" required="" type="password" id="pwd">
    <hr class="hr15">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4" >
                <input type="text" class="form-control" id="valid" placeholder="验证码" style="width: 100px;height:40px;margin-right: 30px" >
            </div>
            <div class="col-md-8">
                <img id="valid_img" src="{% url 'get_valid_img' %}" alt="" style="width: 200px;height: 40px">
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-primary" value="登录" id="login_btn"><span class="error"></span>
    <hr class="hr20">

</div>

</body>


<script>
    // 验证码刷新
    $("#valid_img").click(function () {
        $(this)[0].src +='?'
    });

    // ajax请求验证

    $("#login_btn").click(function () {

        $.ajax({
            url: "/login/",
            type: "post",
            data: {
                "username": $("#user").val(),
                "password": $("#pwd").val(),
                "valid_code": $("#valid").val(),
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
            },
            success: function (data) {   // {"user":"","error_meg":""}
                console.log(data);
                var data = JSON.parse(data);
                if (data.user) {
                    // 登录成功
                    location.href = "/index/"
                }
                else {
                    $(".error").html(data.error_msg).css('color', "red");
                    setTimeout(function () {
                        $(".error").html("")
                    }, 1000)
                }
            }
        })
    })
</script>


</html>
